# Blacklist all
/**

# Whitelist allowed
!/.browserslistrc
!/.eslintrc.js
!/.gitignore
!/.prettierrc
!/babel.config.js
!/jsconfig.json
!/LICENSE
!/package.json
!/README.md
!/yarn.lock

!/.github/
!/.github/workflows/
!/.github/workflows/build-and-publish.yml

!/public/
!/public/.nojekyll
!/public/CNAME
!/public/favicon.ico
!/public/index.html

!/public/icon
!/public/icon/*

!/src/
!/src/App.vue
!/src/main.js

!/src/assets/
!/src/assets/.gitkeep

!/src/components/
!/src/components/Loader.vue
!/src/components/MessageNode.vue
!/src/components/Renderer.vue
