# Blacklist all
/**

# Whitelist allowed
!/.browserslistrc
!/.eslintrc.js
!/.gitignore
!/.prettierrc
!/babel.config.js
!/jsconfig.json
!/LICENSE
!/package.json
!/README.md
!/yarn.lock

!/public/
!/public/favicon.ico
!/public/index.html

!/src/
!/src/App.vue
!/src/main.js

!/src/assets/
!/src/assets/.gitkeep

!/src/components/
!/src/components/Loader.vue
!/src/components/MessageNode.vue
!/src/components/Renderer.vue
